.App {
  width: 100%;
  height: 100vh;
  background: #f8efd4;
  color: #de4463;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #821752;
  width: 60rem;
  height: 80rem;
  border: 1rem solid #de4463;
  border-radius: 0.2rem;
  box-shadow: 5px 10px 15px 10px rgba(0, 0, 0, 0.25);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
}

.calculator > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edc988;
  font-size: 3rem;
  cursor: pointer;
  transition: all 0.1s;
}

.calculator > div:hover:not(:first-child) {
  color: #edc988;
  background-color: #de4463;
  outline: 0.1rem solid rgba(233, 233, 233);
}

#display {
  grid-row: 1;
  grid-column: 1/5;
  background-color: rgba(0, 0, 0, 0.8);
}

#equals {
  grid-row: 5/7;
  grid-column: 4/5;
  background-color: #00c851;
  color: #edc988;
}

#clear {
  background-color: #ff4444;
  color: #edc988;
}

#zero {
  grid-row: 6/7;
  grid-column: 1/3;
}

#decimal {
  grid-row: 6/7;
  grid-column: 3;
}

#add {
  grid-row: 3/5;
  grid-column: 4;
}
